/*LINKI*/
.page-id-193 .page-header .wooden {
  max-width: 1024px;
}
.page-id-193 .content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 5px;
}
.page-id-193 .content h2 {
  margin: 20px 0 5px;
  color: #535353;
  font-size: 26px;
}
.page-id-193 .content h2:first-child {
  margin-top: 0;
}
